<!-- <div class="filmsContainer">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput placeholder="Ex. Mia" #input />
  </mat-form-field>

  <div class="mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort>
       ID Column -->
      <!-- <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.id }}</mat-cell>
      </ng-container> -->

      <!-- Progress Column -->
      <!-- <ng-container matColumnDef="names">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.names }}%</mat-cell>
      </ng-container> -->

      <!-- Name Column -->
      <!-- <ng-container matColumnDef="rentals">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Rentals</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.rentals }}</mat-cell>
      </ng-container> -->

      <!-- Fruit Column -->
      <!-- <ng-container matColumnDef="films">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Films</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.films }}</mat-cell>
      </ng-container> -->

      <!-- <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row> -->

      <!-- Row shown when there is no matching data. -->
      <!-- <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No data matching the filter "{{ input.value }}"
        </td>
      </tr>
    </mat-table> -->

    <!-- <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page of users"
    ></mat-paginator> -->
  <!-- </div> -->
<!-- </div> -->
