<div class="mainpage">
  <app-card
    [photoPath]="'../../../assets/Igor_photo.jpg'"
    [cardDescription]="
      'Student 4 roku Uniwersytetu Śląskiego, wykonujący backend do tego projektu, zapalony programista fullstack'
    "
    [cardTitle]="'Igor Szałas'"
    [cardUsername]="'Igor'"
    [link]="'https://www.linkedin.com/in/igor-sza%C5%82as-70519922b/'"
  >
  </app-card>
  <app-card
    [photoPath]="'../../../assets/Hasiq_photo.jpg'"
    [cardDescription]="
      'Student 4 roku Uniwersytetu Śląskiego, zajmujący się frontendem do tej aplikacji, zna angulara od 3 tygodni'
    "
    [cardTitle]="'Jakub Hasikowski'"
    [cardUsername]="'HasiQ'"
    [link]="'https://www.linkedin.com/in/jakub-hasikowski-a33619239/'"
  >
  </app-card>
</div>
