<div class="mainpage">
  <app-card
    [photoPath]="'../../../assets/Igor_photo.jpg'"
    [cardDescription]="
      'Student 4 roku Uniwersytetu Śląskiego, wykonujący backend do tego projektu, zapalony programista fullstack'
    "
    [cardTitle]="'Igor Szałas'"
    [cardUsername]="'Igor'"
    [link]="'https://www.linkedin.com/in/igor-sza%C5%82as-70519922b/'"
    [facbook]="'https://www.facebook.com/igorszalas'"
    [github]="'https://github.com/IgorSzalas'"
  >
  </app-card>
  <app-card
    [photoPath]="'../../../assets/Kacper_foto.jpg'"
    [cardDescription]="
      'Miłośnik pizzy szybkich samocodów i programowania CICD, sympatyk GO'
    "
    [cardTitle]="'Kacper Małachowski'"
    [cardUsername]="'Kacperek'"
    [link]="'https://www.linkedin.com/in/kacper-ma%C5%82achowski-940b6919b/'"
    [facbook]="'https://www.facebook.com/kacpermaachowski'"
    [github]="'https://github.com/KacperMalachowski'"
  >
  </app-card>
  <app-card
    [photoPath]="'../../../assets/Hasiq_photo.jpg'"
    [cardDescription]="
      'Student 4 roku Uniwersytetu Śląskiego, zajmujący się frontendem do tej aplikacji, zna angulara od 3 tygodni'
    "
    [cardTitle]="'Jakub Hasikowski'"
    [cardUsername]="'HasiQ'"
    [link]="'https://www.linkedin.com/in/jakub-hasikowski-a33619239/'"
    [facbook]="'https://www.facebook.com/profile.php?id=100011326727024'"
    [github]="'https://github.com/hasiq'"
  >
  </app-card>
</div>
