<mat-card>
  <mat-card-header>
    <mat-card-title>Register Form</mat-card-title>
  </mat-card-header>
  <mat-card-actions align="start">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>First name</mat-label>
        <input matInput />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Last Name</mat-label>
        <input matInput />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" />
      </mat-form-field>
    </form>
  </mat-card-actions>
  <a href="http://localhost:4200/login">Jeśli posiadasz konto zaloguj się</a>
  <button type="submit" mat-raised-button color="primary">Register</button>
</mat-card>
