<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>First name</mat-label>
    <input matInput />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Last Name</mat-label>
    <input matInput />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input matInput />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Password</mat-label>
    <input matInput type="password" />
  </mat-form-field>
</form>

<button type="submit" mat-raised-button color="primary">Register</button>
