<div class="rentalDetails">
<table class="table">
  <tr *ngFor="let data of dataSource">
    <th>ID : {{ data.id }}</th>
    <th>Tytuł: {{ data.filmTitle }}</th>
    <th>Gatunek: {{ data.filmGenre }}</th>
    <th>Ocena: {{ data.rating }}</th>
    <th>Opis: {{ data.finalReturnDate }}</th>
    <th>Aktorzy: {{ data.actors }}</th>
    <th></th>
  </tr>
</table>
<form [formGroup]="rentForm" (ngSubmit)="addRent()">
  <mat-form-field>
    <mat-label>Guest Name</mat-label>
    <input
      type="text"
      matInput
      formControlName="userName"
      placeholder="User Name and Surname"
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Film Title</mat-label>
    <input
      type="text"
      matInput
      formControlName="filmTitle"
      placeholder="Film Title"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="dateControl" />
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <button type="submit" mat-raised-button color="primary">Rent</button>
</form>
</div>
